[Unit]
Description="Cut HTTP File Server"

[Service]
Type="simple"
ExecStart=/usr/local/bin/chfs --path=/srv/chfs

[Install]
WantedBy="multi-user.target"
