[Unit]
Description="Cut HTTP File Server"
Conflicts=chfs.socket

[Service]
Type="simple"
ExecStart=/opt/bin/chfs --path=/srv/chfs

[Install]
WantedBy="multi-user.target"
